<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{site.username}}'s blog based on GitHub Pages" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/stylesheet.css">

    <title>{{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="post_header_wrap" class="outer">
        <header class="inner">
          <a id="post_forkme_banner" href="https://github.com/{{site.github}}/{{site.baseurl}}">View on GitHub</a>
          <h1 id="post_project_title"><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
        </header>
    </div>

    <!-- 文章内容 -->
    <div id="main_content_wrap" class="outer">
	<br><br><br>
      <section id="main_content" class="inner">
       <h1>{{page.title}}</h1>

	 <div class="author">
		  分类:
		  {% if page.categories == empty %}未分类{% endif %}
		  {% for type in page.categories %}
		  <a href="/categories.html">{{type}}</a>
		  {% if forloop.index < forloop.length %}
		  ,
		  {% endif %}
		  {% endfor %}
		  |
		  标签:
		  {% if page.tags == empty %}无{% endif %}
		  {% for tag in page.tags %}
		  <a href="/tags.html">{{tag}}</a>
		  {% if forloop.index < forloop.length %}
		  ,
		  {% endif %}
		  {% endfor %}
		  |
		  发表时间:<span class="date">{{page.date | date: "%Y-%m-%d"}}</span>
	  </div>

	{{content}}
      </section>

      <div class="inner">
	      相关文章
	      <hr/>
      <ul>
      {% for post in site.related_posts %}
      <li>
      <a href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endfor %}
      </ul>
      </div>

      <!-- 评论 -->
      <section id="comments" class="inner">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Slate theme maintained by <a href="https://github.com/jasoncostello">Jason Costello</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
